.left-side{
	height:100%;
	background-color:
	text-align:center;
}
.left-side h1{
	color:white;
	position:relative;
	top:10%;
}
.right-side{
height:100%;
width:100%;	
}
.form-login{
position:relative;
top:27%;
}
.bg-nav{
	background-color:#001A57;
	color:white;
	margin:0 0 5% 0;
}

.bg-nav > a{
	position:absolute;
	right:3%;
}
.bg-nav > h3{
}
.button-tambah{
	margin:0 0 1% 0;
}

