.left-side{
	height:100%;
	background-color:#001A57;
	text-align:center;
}
.left-side h1{
	color:white;
	position:relative;
	top:10%;
}
.right-side{
height:100%;
width:100%;	
}
.form-login{
position:relative;
top:27%;
}
.tombol{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color:white;
}
#form-tambah{
	display:none;
	
}
	
.nav-bg{
	background-color:#001A57;
	
}
.bg-nav{
	background-color:#001A57;
	color:white;
}

.bg-nav > a{
	position:absolute;
	right:3%;
}
.bg-nav > h3{
}
.button-tambah{
	margin:0 0 1% 0;
}
#table1{
	display:none;
}
#table2{
	display:none;
}
#table3{
	display:none;
}


